## Multiples of 3 and 5

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

In [0]:
sum([i for i in range(1000) if i % 3 == 0  or i % 5 == 0])

233168

## Even Fibonacci numbers

Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be:

1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...

By considering the terms in the Fibonacci sequence whose values do not exceed four million, find the sum of the even-valued terms.

In [0]:
sum = 0
# Starting 2 values 
f1, f2 = 1, 2
# Set stopping point to less than 4 mil 
while f2 < 4000000:
    # Retreive only even numbers 
    if f2 % 2 == 0:
        #Add to sum 
        sum += f2
     # Set f1 and f2 values for loop    
    f1, f2 = f2, f1 + f2
print(sum)

4613732

## Largest prime factor

The prime factors of 13195 are 5, 7, 13 and 29.

What is the largest prime factor of the number 600851475143 ?

In [0]:
n = 600851475143 
prime = i

In [0]:
def LargestPrimeFactor(n):
    primeFactor = 1
    i = 2

    while i <= n / i:
        if n % i == 0:
            primeFactor = i
            n /= i
        else:
            i += 1

    if primeFactor < n:
        primeFactor = n

    return primeFactor

print(LargestPrimeFactor(600851475143))

6857.0

## Palindrome

In [5]:
max_pal = 0
for i in range(100,999):
    for j in range(100,999):
      multi = i * j 
      if str(multi) == str(multi)[::-1]: #check for palindrome
          if multi > max_pal: 
              max_pal = multi
print (max_pal)

906609

## Smallest Multiple

In [16]:
n = [11,13,14,16,17,18,19,20]
#step by multiples of 20 because the solution will be divisible by 20
for i in range(20, 1000000000, 20):
    if all(i % j == 0 for j in n):
        print (i)

232792560

## Sum square difference

In [1]:
num = range(1, 101)
print(sum(num) ** 2 - sum(x ** 2 for x in num))

25164150

## 10001st prime

In [6]:
def prime(num):
    for i in range(2,int(math.sqrt(num)+1),1):
        if not num%i:
            return False
    return True
num = 1
p = 1 
while p < 10001:
    num+=2
    if prime(num):
        p +=1
print(num)

104743